section#admin-dashbaord {
    height: 100dvh;
    width: 100%;
}

h1 {
    font-size: 1rem;
    color: var(--gold-color);
    padding: 10px 120px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: var(--padding);
}

form input[type='text'] {
    border: none;
    outline: none;
    height: 50px;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
    font-size: 0.6rem;
    color: var(--blue-color);
}

form input:focus {
    box-shadow: none;
    border: 1px solid var(--gold-color);
}

form input[type='submit'] {
    height: 50px;
    width: 100px;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 10px;
    font-size: 0.6rem;
    box-shadow: var(--box-shadow);
}

form input[type='submit']:hover {
    box-shadow: none;
}

.head h1.projects {
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--blue-color);
    padding: 0;
}

.projects-container {
    height: 77dvh;
    width: 100%;
    overflow: scroll;
    padding: var(--padding);
}

/* CHAIR ROLE */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

tr.table-head th {
    font-weight: 600;
    font-size: 0.7rem;
    padding: 10px;
    text-align: justify;
    animation: fadeDown 1s linear;

}

tr td {
    font-weight: normal;
    font-size: 0.6rem;
    padding: 10px;
    text-align: justify;
    animation: fadeSlide 1s linear;
}


/* ASSISTANT CHAIR ROLE */

.asst-chair {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.asst-chair .container {
    width: 48%;
    height: 77dvh;
    overflow-y: scroll;
}

.asst-chair .projects-container {
    height: 90%;
    width: 100%;
}

.container h1 {
    font-size: 0.8rem;
    font-weight: 600;
}

.project {
    height: fit-content;
    width: 100%;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--light-gold-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project p {
    font-size: 0.6rem;
    color: var(--gold-color);
}

.project p span {
    color: var(--blue-color);
    font-weight: 600;
}

button.btn {
    background-color: var(--green-color);
    box-shadow: none;
}
