#form {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 120px;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

#form .image {
    width: 60%;
    height: 60%;
    padding: 0 120px;
    border-radius: 40px;
    overflow: hidden;
}

.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
}

form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 1.2rem;
    color: var(--gold-color);
}

h1 span {
    color: var(--blue-color);
    text-decoration: underline;
}

form .errorlist {
    display: none;
}

form label {
    display: none;
}

form input {
    border: none;
    outline: none;
    height: 50px;
    width: 30dvw;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
    font-size: 0.6rem;
    color: var(--blue-color);
}

form input:focus {
    box-shadow: none;
    border: 1px solid var(--gold-color);
}

form select {
    border: none;
    outline: none;
    height: 50px;
    width: 30dvw;
    border-radius: 10px;
    padding: 0 30px;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
    font-size: 0.6rem;
    color: var(--blue-color);
}

form select:focus {
    box-shadow: none;
    border: 1px solid var(--gold-color);
}

select option {
    color: var(--blue-color);
}

select option:checked {
    color: var(--gold-color);
}

textarea {
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    height: 100px;
    padding: 10px;
    font-size: 0.5rem;
    color: var(--blue-color);
}

textarea:focus {
    outline: none;
    border: 1px solid var(--gold-color);
    box-shadow: none;
}

form input[type='submit'] {
    height: 50px;
    width: 200px;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 10px;
    font-size: 0.6rem;
    box-shadow: var(--box-shadow);
    padding: 0;
}

form input[type='submit']:hover {
    box-shadow: none;
}

/* CK EDITOR */
#ckform {
    width: 100%;
    /* height: 100%; */
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: var(--padding);
}

#ckform label {
    display: block;
    font-size: 0.7rem;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    width: 80vw;
    height: 700px;
    font-size: 0.6rem;
}

.ck-word-count__characters {
    display: none;
}

.ck-word-count__words {
    font-size: 0.7rem;
}