#profile-section {
    height: 100vh;
    width: 100%;
}

.content {
    padding: var(--padding);
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .img-container {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content .details {
    width: 60%;
}

.details h1:first-child {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue-color);
}

.details h1 {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--blue-color);
}

.details h1 span {
    color: var(--gold-color);
}

.details p.email {
    color: var(--gold-color);
    font-weight: 600;
    font-size: 0.7rem;
}

.details p.other {
    color: var(--blue-color);
    font-weight: 600;
    font-size: 0.7rem;
}

.details p.other span {
    color: var(--gold-color);
    font-weight: 500;
}

a.btn, button.btn.update {
    background-color: var(--gold-color);
    margin-bottom: 20px;
}


/* FORM */
form.upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}


input[type='file'] {
    background-color: white;
    height: 40px;
    width: 100%;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 10px;
}

input[type='submit'] {
    background-color: var(--blue-color);
    border: none;
    color: var(--white-color);
    height: 40px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}

input[type='submit']:hover {
    box-shadow: none;
}

/* DISPLAY FORM */
form.hide {
    display: none;
}

form.show {
    display: block;
    animation: fadeDown 0.5s linear;
}

form label {
    display: none;
}
