#profile-section {
    height: fit-content;
    width: 100%;
}

.breadcrumb {
    height: 200px;
}

.content {
    padding: var(--padding);
    height: 75%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
}

.content .pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeSlide 1s linear;
}

.content .img-container {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content .details {
    width: 60%;
    animation: fadeSlideLeft 1s linear;
}

.details h1:first-child {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue-color);
}

.details h1 {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--blue-color);
    margin: 10px 0;
}

.details h1 span {
    color: var(--gold-color);
}

.details p.email {
    color: var(--gold-color);
    font-weight: 600;
    font-size: 0.7rem;
}

.details p.other {
    color: var(--blue-color);
    font-weight: 600;
    font-size: 0.7rem;
}

.details p.other span {
    color: var(--gold-color);
    font-weight: 500;
}

.details .detail-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

button.btn.update {
    background-color: var(--gold-color);
    margin-bottom: 20px;
    height: 40px;
    width: 120px;
    padding: 5px;
}

button.btn.password-update {
    width: 200px;
}


/* FORM */
form.upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

input {
    background-color: white;
    height: 50px;
    width: 40%;
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 0.6rem;
    margin-bottom: 20px;
}

input:focus {
    box-shadow: none;
    border: 1px solid var(--gold-color);
}

input[type='file'] {
    width: 100%;
}

input[type='submit'] {
    background-color: var(--blue-color);
    border: none;
    color: var(--white-color);
    height: 40px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
    padding: 0;
}

input[type='submit']:hover {
    box-shadow: none;
}

/* DISPLAY FORM */
form.hide {
    display: none;
}

form.show {
    display: block;
    animation: fadeDown 0.5s linear;
}

form label {
    display: none;
}

form .errorlist {
    display: none;
}
