#detail-section {
    height: 100vh;
    width: 100%;
}

.project {
    height: 70%;
    width: 100%;
    padding: var(--padding);
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.project .content {
    height: 100%;
    width: 65%;
    overflow-y: scroll;
    padding: 0 20px;
    animation: fadeSlide 1s linear;
}

.project .metadata-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    overflow-y: scroll;
    padding: 0 10px;
    animation: fadeSlideLeft 1s linear;
}

.metadata-container .metadata {
    width: 100%;
    height: fit-content;
    background-color: var(--light-gold-color);
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.metadata p {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--gold-color);
}

.metadata p span {
    font-weight: normal;
    color: var(--blue-color);
}

.remarks {
    width: 100%;
    height: 40%;
    padding: 0 20px;
}

.remarks p {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--blue-color);
}

.remarks p.all-remarks {
    color: var(--gold-color);
    margin-bottom: 20px;
}

.remarks .remark {
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 20px;
}

label {
    display: none;
}

textarea {
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    height: 150px;
    padding: 10px;
    font-size: 0.5rem;
    color: var(--blue-color);
    margin: 10px 0;
    width: 100%;
}

textarea:focus {
    outline: none;
    border: 1px solid var(--gold-color);
    box-shadow: none;
}

form input[type='submit'] {
    height: 50px;
    width: 150px;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 10px;
    font-size: 0.6rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

form input[type='submit']:hover {
    box-shadow: none;
}

.remark h1 {
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--blue-color)
}

.remark p.time {
    color: var(--gold-color);
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 0.55rem;
}

.remark p.message {
    color: var(--blue-color);
    font-weight: normal;
}

.content .data {
    margin-bottom: 20px;
}

.data h1 {
    font-weight: 600;
    font-size: 1rem;
    color: var(--gold-color);
    text-transform: uppercase;
}

.data p {
    font-size: 0.7rem;
    text-align: justify;
    color: var(--blue-color);
}

.actions {
    padding: 0 10px;
}

.actions a.btn, .actions button.btn {
    font-size: 0.6rem;
    padding: 10px 20px;
    background-color: var(--gold-color);
}

.actions a.btn.approve {
    background-color: rgba(47, 168, 108);
}

.actions a.btn.delete {
    background-color: rgba(238, 107, 107);
}