#detail-section {
    height: 100vh;
    width: 100%;
}

.project {
    height: 70%;
    width: 100%;
    padding: var(--padding);
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.project .content {
    height: 100%;
    width: 65%;
    overflow-y: scroll;
}

.project .metadata-container {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.metadata-container .metadata {
    width: 100%;
    height: 90%;
    background-color: var(--light-gold-color);
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.metadata p {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--gold-color);
}

.metadata p span {
    font-weight: normal;
    color: var(--blue-color);
}

.content .data {
    margin-bottom: 20px;
}

.data h1 {
    font-weight: 600;
    font-size: 1rem;
    color: var(--gold-color);
    text-transform: uppercase;
}

.data p {
    font-size: 0.7rem;
    text-align: justify;
    color: var(--blue-color);
}

.actions a.btn {
    font-size: 0.6rem;
    padding: 10px 20px;
    background-color: var(--gold-color);
}

.actions a.btn.approve {
    background-color: rgba(47, 168, 108);
}

.actions a.btn.delete {
    background-color: rgba(238, 107, 107);
}