{% extends "base.html" %}
{% load static %}

{% block page_title %} About {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body %} 
<section id="about-section">
    <div class="breadcrumb">
        <h1>About</h1>
    </div>

    <div class="content">
        <div class="img-container">
            <img src="{% static 'images/about.jpg' %}" alt="image" loading="lazy">
        </div>

        <div class="about">
            <h1>BUHREC - <span>Streamlining School Project Management</span></h1>
            <p>
                BUHREC is a user-friendly and comprehensive web application designed to simplify the creation, management, and review of school projects. It empowers students, researchers, reviewers, and administrators to collaborate effectively throughout the project lifecycle.
            </p>
        </div>
    </div>
</section>
{% endblock %}
