{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUHREC- {% block page_title %} {% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %} {% endblock %}

</head>
<body>
    <nav>
        <div class="logo">
            <a href="{% url 'project:home' %}"><span>BU</span>HREC</a>
        </div>

        <div class="nav-links">
            <div class="main">
                <a href="{% url 'project:home' %}" class="{% if active_link == 'home' %}active{% endif %}">Home</a>
                <a href="{% url 'project:about' %}" class="{% if active_link == 'about' %}active{% endif %}">About</a>
                {% if  user.is_authenticated %}
                    {% if user.role == 'student' or user.role == 'researcher' %}
                    <a href="{% url 'project:projects' %}" class="{% if active_link == 'projects' %}active{% endif %}">Projects</a>
                    {% elif user.role == 'reviewer' %}
                    <a href="{% url 'project:assignments' %}" class="{% if active_link == 'assignments' %}active{% endif %}">Assignments</a>
                    {% elif user.role == 'admin' %}
                    <a href="{% url 'project:admin-dashboard' %}" class="{% if active_link == 'dashboard' %}active{% endif %}">Dashboard</a>
                    {% endif %}
                {% else %}
                <a href="{% url 'user:login' %}" class="{% if active_link == 'login' %}active{% endif %}">Login</a>
                <a href="{% url 'user:signup' %}" class="{% if active_link == 'signup' %}active{% endif %}">Sign Up</a>
                {% endif %}
            </div>
            
            {% if user.is_authenticated %}
            <div class="account">
                <div class="account-button profile-img">
                    <img src="{{ user.profile_pic.url }}" alt="profile">
                </div>

                <div class="dropdown hide-dropdown">
                    <div class="profile-container">
                        <div class="profile-img">
                            <img src="{{ user.profile_pic.url }}" alt="profile">
                        </div>

                        <div class="detail">
                            <h2 class="name">{{ user.last_name }}, {{ user.first_name}}</h2>
                            <!-- <p><span>{{ user.email.truncwords }}...</span></p> -->
                            <p>Role: <span>{{ user.role.capitalize }}</span></p>
                        </div>
                    </div>

                    <div class="hr"></div>

                    <div class="account-actions">
                        <a href="{% url 'user:profile' %}">My Profile & Settings</a>
                        <a href="{% url 'user:logout' %}" style="color: rgba(238, 107, 107);">Logout</a>
                    </div>

                </div>
            </div>
            {% endif %}
    </nav>

    {% include 'constants/messages.html' %}
    
    {% block body %} {% endblock %}

    <footer>
        <p>&copy; {{ year }}</p>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
    
</body>
</html>