{% extends "base.html" %}
{% load static %}

{% block page_title %} Home {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %} 
<section id="hero">
    <div class="hero-content">
        <h1>Welcome to <span>BU</span>HREC</h1>
        <p>We help you manage your projects effectively and efficiently.</p>

        {% if not user.is_authenticated %}
        <a href="{% url 'project:home' %}" class="btn">Get Started</a>
        {% else %}
        <a href="{% url 'project:home' %}" class="btn">Create a project</a>
        {% endif %}

    </div>

    <div class="image-container">
        <img src="{% static 'images/home-hero.jpg' %}" alt="hero-img">
    </div>
</section>

<section id="contact">

</section>
{% endblock %}
