{% extends "base.html" %}
{% load static %}

{% block page_title %} Home {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body %} 
<section id="hero">
    <div class="hero-content">
        <h1>Welcome to <span>BU</span>HREC</h1>
        <p>We help you manage your projects effectively and efficiently.</p>

        {% if not user.is_authenticated %}
        <a href="{% url 'user:login' %}" class="btn">Get Started</a>
        {% else %}
            {% if user.role == 'student' or user.role == 'researcher' %}
            <a href="{% url 'project:create-project' %}" class="btn">Create a project</a>
            {% elif user.role == 'reviewer' %}
            <a href="{% url 'project:assignments' %}" class="btn">View assignments</a>
            {% else %}
            <a href="{% url 'project:admin-dashboard' %}" class="btn">Visit dashboard</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="image-container">
        <img src="{% static 'images/home-hero.jpg' %}" alt="hero-img">
    </div>
</section>

<section id="contact">
    <div class="details">
        <h1>Contact Us</h1>
        <p>Reach out to us for help through any of the following means</p>
        <p>Phone: <span>09054033165</span></p>
        <p>Email: <span>buhrec@gmail.com</span></p>
    </div>

    <form action="{% url 'project:send-message' %}" method="post">
        {% csrf_token %}
        {{ contact_form }}
        <input type="submit" value="Send message">
    </form>

</section>
{% endblock %}
