{% extends "base.html" %}
{% load static %}

{% block page_title %} Home {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %} 
<section id="hero">
    <div class="hero-content">
        <h1>Welcome to <span>BU</span>HREC</h1>
        <p>We help you manage your projects effectively and efficiently.</p>

        {% if not user.is_authenticated %}
        <a href="{% url 'project:home' %}" class="btn">Get Started</a>
        {% else %}
            {% if user.role == 'student' or user.role == 'researcher' %}
            <a href="{% url 'project:create-project' %}" class="btn">Create a project</a>
            {% elif user.role == 'reviewer' %}
            <a href="{% url 'project:assignments' %}" class="btn">View assignments</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="image-container">
        <img src="{% static 'images/home-hero.jpg' %}" alt="hero-img">
    </div>
</section>

<!-- <section id="contact">

</section> -->
{% endblock %}
