{% extends "base.html" %}
{% load static %}

{% block page_title %} Projects {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block body %} 
<section id="project-section">
    <div class="head">
        <h1><span>My</span> Assignments</h1>
    </div>

    <div class="assignments">
        {% if assignments %}
        <div class="projects">
            <h1>Pending</h1>
            {% for project in assignments %}
            <div class="project">
                <div class="content">
                    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
                    <p>Created: <span>{{ project.created_at }}</span></p>
                    <p>Last updated: <span>{{ project.updated_at }}</span></p>
                    <p>Author: <span>{{ project.owner.last_name }}, {{ project.owner.first_name }}</span></p>
                    <p>
                        Approved: 
                        {% if project.approved %}
                        <span style="color: rgba(47, 168, 108);">Yes</span>
                        {% else %}
                        <span style="color: rgba(238, 107, 107);">No</span>
                        {% endif %}
                    </p>
                </div>
                
                <form action="{% url 'project:toggle-approval' project.id %}" method="post">
                    {% csrf_token %}
                    {% if not project.approved %}
                    <button type="submit" class="btn" style="background-color: rgba(47, 168, 108);">Approve</button>
                    {% else %}
                    <button type="submit" class="btn" style="background-color: rgba(238, 107, 107);">Unapprove</button>
                    {% endif %}
                </form>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="nothing">You do not have any pending assignments currently.</p>
        {% endif %}

        {% if completed_assignments %}
        <div class="projects">
            <h1>Completed</h1>
            {% for project in completed_assignments %}
            <div class="project">
                <div class="content">
                    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
                    <p>Created: <span>{{ project.created_at }}</span></p>
                    <p>Last updated: <span>{{ project.updated_at }}</span></p>
                    <p>Author: <span>{{ project.owner.last_name }}, {{ project.owner.first_name }}</span></p>
                    <p>
                        Approved: 
                        {% if project.approved %}
                        <span style="color: rgba(47, 168, 108);">Yes</span>
                        {% else %}
                        <span style="color: rgba(238, 107, 107);">No</span>
                        {% endif %}
                    </p>
                </div>
                <form action="{% url 'project:toggle-approval' project.id %}" method="post">
                    {% csrf_token %}
                    {% if not project.approved %}
                    <button type="submit" class="btn" style="background-color: rgba(47, 168, 108);">Approve</button>
                    {% else %}
                    <button type="submit" class="btn" style="background-color: rgba(238, 107, 107);">Unapprove</button>
                    {% endif %}
                </form>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="nothing">You do not have any completed assignments</p>
        {% endif %}
    </div>
</section>
{% endblock %}
