{% extends "base.html" %}
{% load static %}

{% block page_title %} Assignments {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block body %} 
<section id="project-section">
    <div class="breadcrumb">
        <h1>My  Assignments</h1>
    </div>

    <div class="assignments">
        {% if assignments %}
        <div class="projects">
            <h1>Pending</h1>
            {% for assignment in assignments %}
            <div class="project">
                <div class="content">
                    <a href="{% url 'project:detail' assignment.project.id %}">{{ assignment.project.title }}</a>
                    <p>Created: <span>{{ assignment.project.created_at }}</span></p>
                    <p>Last updated: <span>{{ assignment.project.updated_at }}</span></p>
                    <p>Author: <span>{{ assignment.project.owner.user.last_name }}, {{ assignment.project.owner.user.first_name }}</span></p>
                    <p>Approved: <span style="color: rgba(238, 107, 107);">No</span></p>
                </div>

                <form action="{% url 'project:toggle-approval' assignment.project.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn" style="background-color: rgba(47, 168, 108);">Approve</button>
                </form>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="nothing">You do not have any pending assignments.</p>
        {% endif %}

        {% if completed_assignments %}
        <div class="projects">
            <h1>Completed</h1>
            {% for completed in completed_assignments %}
            <div class="project">
                <div class="content">
                    <a href="{% url 'project:detail' completed.project.id %}">{{ completed.project.title }}</a>
                    <p>Created: <span>{{ completed.project.created_at }}</span></p>
                    <p>Last updated: <span>{{ completed.project.updated_at }}</span></p>
                    <p>Author: <span>{{ completed.project.owner.user.last_name }}, {{ completed.project.owner.user.first_name }}</span></p>
                    <p>Approved: <span style="color: rgba(47, 168, 108);">Yes</span></p>
                </div>
                <form action="{% url 'project:toggle-approval' completed.project.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn" style="background-color: rgba(238, 107, 107);">Unapprove</button>
                </form>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="nothing">You do not have any completed assignments.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
