{% extends "base.html" %}
{% load static %}

{% block page_title %} Payment {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body %} 
<section id="form">
    <div class="image">
        <img src="{% static 'images/payment.jpg' %}" alt="payment-img" loading="lazy">
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <h1><span>Pay</span> For Project</h1>
        {{form}}
        <input type="submit" class="btn" value="Pay">
    </form>
</section>
{% endblock %}
