{% extends "base.html" %}
{% load static %}

{% block page_title %} Projects {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/project-detail.css' %}">
{% endblock %}

{% block body %} 
<section id="detail-section">
    {% if project %}
    <div class="breadcrumb">
        <h1>{{ project.title }}</h1>
    </div>

    <div class="project">
        <div class="content">
            <div class="data">
                <h1>Introduction</h1>
                <p>{{ project.introduction | safe }}</p>
            </div>
            <div class="data">
                <h1>Background</h1>
                <p>{{ project.background | safe }}</p>
            </div>
            <div class="data">
                <h1>Scope and Limitation</h1>
                <p>{{ project.scope_and_limitation | safe }}</p>
            </div>
            <div class="data">
                <h1>Justification</h1>
                <p>{{ project.justification | safe }}</p>
            </div>
            <div class="data">
                <h1>Objectives</h1>
                <p>{{ project.objectives | safe }}</p>
            </div>

            {% if project.hypothesis %}
            <div class="data">
                <h1>Hypothesis</h1>
                <p>{{ project.hypothesis | safe }}</p>
            </div>
            {% endif %}

            <div class="data">
                <h1>Literature Review</h1>
                <p>{{ project.literature_review | safe }}</p>
            </div>
            <div class="data">
                <h1>Materials and Methods</h1>
                <p>{{ project.materials_and_methods | safe }}</p>
            </div>
            <div class="data">
                <h1>Procedure</h1>
                <p>{{ project.procedure | safe }}</p>
            </div>
        </div>

        <div class="metadata-container">
            <div class="metadata">
                <p>Project name: <span>{{ project.title }}</span></p>
                <p>Author: <span>{{ project.owner.user.last_name }}, {{ project.owner.user.first_name }}</span></p>
                <p>Created at: <span>{{ project.created_at }}</span></p>
                <p>Last updated: <span>{{ project.updated_at }}</span></p>
                {% if project_reviewer %}
                <p>Reviewer: <span>{{ project_reviewer.user.last_name }}, {{ project_reviewer.user.first_name }}</span></p>
                {% endif %}
                <p>
                    Approved: 
                    {% if project.approved %}
                    <span style="color: rgba(47, 168, 108);">Yes</span>
                    {% else %}
                    <span style="color: rgba(238, 107, 107);">No</span>
                    {% endif %}
                </p>
            </div>

            <div class="actions">
                {% if user.role == 'student' or user.role == 'researcher' %}
                <form action="{% url 'project:delete-project' project.id %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'project:edit-project' project.id %}" class="btn">Edit</a>
                    <button type="submit" class="btn" style="background-color: rgba(238, 107, 107);">Delete</button>
                </form>

                {% elif user.role == 'reviewer' %}
                <form action="{% url 'project:toggle-approval' project.id %}" method="post">
                    {% csrf_token %}
                    {% if not project.approved %}
                    <button type="submit" class="btn" style="background-color: rgba(47, 168, 108);">Approve</button>
                    {% else %}
                    <button type="submit" class="btn" style="background-color: rgba(238, 107, 107);">Unapprove</button>
                    {% endif %}
                </form>
                {% endif %}
            </div>

            <div class="remarks">
                {% if user.role == 'reviewer' %}
                <form action="" method="post">
                    <p>Send Remark</p>
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn" value="Send Remark">
                </form>
                {% endif %}

                <div>
                    <p class="all-remarks">All remarks</p>
                    {% if remarks %}
                        {% for remark in remarks %}
                        <div class="remark">
                            <h1>{{ remark.reviewer.user.last_name }}, {{ remark.reviewer.user.first_name }}</h1>
                            <p class="time">{{ remark.created_at }}</p>
                            <p class="message">{{ remark.message }}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                    <p>No remarks yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="nothing">Project does not exist</p>
    {% endif %}
</section>
{% endblock %}
