{% extends "base.html" %}
{% load static %}

{% block page_title %} Set Reviewer Profile {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body %} 
<section id="form">
    <div class="image">
        <img src="{% static 'images/set-profile.jpg' %}" alt="signup-img">
    </div>

    <form action="#" method="post">
        {% csrf_token %}
        <h1><span>Set Up</span> Reviewer Profile</h1>
        {{form}}
        <input type="submit" class="btn" value="Save">
    </form>

</section>
{% endblock %}
